@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    color: aliceblue;
    background-color: rgb(15, 15, 15);
}

button {
    width: 100px;
    height: 40px;
}

#list {
    height: 600px;
    width: 400px;
}